
table td {
    text-align: left;
    border: 1px solid #536b53;
    font-size: 0.9rem;
    padding: 0;
}

table th {
    text-align: center;
    border: 1px solid #000000;
    background-color: #7fb393;
    color: black;
    line-height: 0.8rem;
    font-weight: bold;
}

strong {
    --uno: 'bg-green-300 dark:bg-green-800';

}

em {
    --uno: 'bg-purple-300 dark:bg-purple-800';
}

a:link {
    --uno: 'bg-orange-200 dark:bg-orange-800';
}

a:hover {
    font-weight:bold;
}

li ul li {
    font-size: 0.95rem;
}

.note {
    --uno: 'bg-yellow-200 dark:bg-yellow-800';
    
    font-size: 0.95rem;
    line-height: 0.7rem;
    padding:2px 20px;
    border-radius: 15px;
}