
table td {
    text-align: left;
    border: 1px solid #536b53;
    font-size: 0.9rem;
    padding: 0;
}

table th {
    text-align: center;
    border: 1px solid #000000;
    background-color: #7fb393;
    color: black;
    line-height: 0.8rem;
    font-weight: bold;
}

strong {
    --uno: 'bg-green-300 dark:bg-green-800';
    font-weight: bolder !important;
    padding: 0px 4px;
    border-radius: 5px;

}

em {
    --uno: 'bg-purple-300 dark:bg-purple-800';
    font-style: italic !important;
    padding: 0px 4px;
    border-radius: 3px;
}

a:link, a:visited {
    --uno: 'bg-orange-200 dark:bg-orange-800 text-blue-900 dark:text-yellow';
    border-radius: 5px;
    padding: 0px 5px;
}

a:hover {
    font-weight:bold;
}

li ul li {
    font-size: 0.95rem;
}

.note {
    --uno: 'bg-yellow-200 dark:bg-yellow-800';
    
    font-size: 0.95rem;
    line-height: 0.7rem;
    padding:5px 20px;
    --uno: 'font-serif';
    border-radius: 15px;
}

div.note {
    margin: 10px;
}

em strong {
    font-style: italic;
    --uno: 'bg-teal-300 dark:bg-teal-800 text-black dark:text-white';
    border-radius: 3px;
    padding: 0px 3px;
}
